<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="color: white;" >
  <div class="position-sticky pt-3 sidebar-sticky" >
    <div class="card" style="background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);">
      <div class="card-body">
        <img src="<%= image_path('elephant.jpeg') %>"  style="border-radius: 50%; height: 55%; width: 44%" />

        <p class="card-text">Prativa</p>
        
        <br>
      </div>
    </div>
    <div class="col" style="background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);">
      <div class="card shadow-sm" style="background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);">
        <div class="card-body">
          <p class="card-text">Residence: USA</p>
          <p class="card-text">City: Youngstown</p>
          <p class="card-text">State: Ohio</p>
          <br>
          <p>English</p>
          <div class="progress my-3" style="height: 9px">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 9px;"></div>
          </div>
          <p>Hindi</p>
          <div class="progress my-3" style="height: 9px">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Nepali</p>
          <div class="progress my-3" style="height: 9px">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="my-5">
            <h4> Skills</h4>
            <hr>
            <p>Ruby, ReactJS, Python, HTML/CSS, JavaScript, Jenkins, Codeship, Git, Data Visualization, Data Analysis, R programming </p>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>