<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="color: white;" >
  <div class="position-sticky pt-3 sidebar-sticky" >
    <div class="card" style="background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);">
      <div class="card-body">
        <img src="<%= image_path('elephant.jpeg') %>"  style="border-radius: 50%; height: 55%; width: 44%" />

        <p class="card-text">Prativa</p>
        
        <br>
      </div>
    </div>
    <div class="col" style="background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);">
      <div class="card shadow-sm" style="background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);">
        <div class="card-body">
          <p class="card-text">Residence: USA</p>
          <p class="card-text">City: Youngstown</p>
          <p class="card-text">State: Ohio</p>
          <br>
          <h4>Skills</h4>
          <hr>
          <p>Ruby, ReactJS, Python, HTML/CSS, JavaScript, Jenkins, Codeship, Git, Data Visualization, Data Analysis, R programming </p>
          <br>

          <h4>Languages</h4>
          <hr>

          <p>English, Nepali, Hindi</p>
        </div>
      </div>
    </div>
  </div>
</nav>