<div class"container-fluid" style="background-color: #191923;">
  <div class="container py-3" style="max-width: 1620px;">

    <div class="row">
      <%= render "layouts/nav/sidebar" %>
      
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" >
        <div class="">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm" style="background-color: #191923; color: white">
              <div class="card-body">
                <img src="<%= image_path('motto.jpg') %>" style="width: 100%; height: 50%;"/>

                <div class="d-flex justify-content-between my-4">
                  <p>8 Projects </p>
                  <p>5 Happy Clients </p>
                  <p>4 years </p>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Resume" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Resume</text></svg>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Projects" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Projects</text></svg>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Adventures" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Adventures</text></svg>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

      