<div class"container-fluid" style="background-color: #191923;">
  <div class="container py-3" style="max-width: 1620px;">

    <div class="row">
      <%= render "layouts/nav/sidebar" %>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="color: white" >
        <div class="card mb-4 rounded-3 shadow-sm" style="background-color: #191923; color: white">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    <div class="col">
                        <div class="card shadow-sm px-4 py-4 mx-4 my-4" style="background-color: #55595c;">
                            <p>Project: https://www.conx.co</p>
                            <p>Category: Search Jobs in construction platform</p>
                            <p>Technology Used: Ruby on Rails, jQuery, APIs</p>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card shadow-sm px-4 py-4 mx-4 my-4" style="background-color: #55595c;">
                            <p>Project: https://apps.shopify.com/japan-order-csv</p>
                            <p>Category: Data formatter for Japan logistics</p>
                            <p>Technology Used: Ruby on Rails, ReactJS, GraphQL</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    <div class="col">
                        <div class="card shadow-sm px-4 py-4 mx-4 my-4" style="background-color: #55595c;">
                            <p>Project: www.app.shiftcare.com</p>
                            <p>Category: Schedule shift</p>
                            <p>Technology Used: Ruby on Rails, CoffeeScript</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm px-4 py-4 mx-4 my-4" style="background-color: #55595c;">
                            <p>Project: https://www.camplify.com.au/</p>
                            <p>Category: Search an RV</p>
                            <p>Technology Used: Ruby on Rails, ReactJS, Redis, Elasticsearch</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </main>
      
    </div>
  </div>
</div>

